.modal.active .modal-menu {
    transform: translateY(0);
}

.menu-button:hover .icon {
    transform: rotate(45deg) scale(1.2);
}

.menu-button:hover .icon {
    transform: rotate(45deg);
}

.custom-button-gun:hover {
    transform: scale(1.05);
}

.custom-button-gun:active {
    transform: scale(0.95);
}

.custom-button-cloth:hover {
    transform: scale(1.05);
}

.custom-button-cloth:active {
    transform: scale(0.95);
}

.custom-button-food:hover {
    transform: scale(1.05);
}

.custom-button-food:active {
    transform: scale(0.95);
}

.custom-button-car:hover {
    transform: scale(1.05);
}

.custom-button-car:active {
    transform: scale(0.95);
}

.custom-button-cartridges:hover {
    transform: scale(1.05);
}

.custom-button-cartridges:active {
    transform: scale(0.95);
}

.custom-button-backpack:hover {
    transform: scale(1.05);
}

.custom-button-backpack:active {
    transform: scale(0.95);
}

.password-reset-form button:hover {
    background-color: #0056b3;
}

.weapon-type-button:hover {
    transform: scale(1.05);
}

.weapon-type-button:active {
    transform: scale(0.95);
}

#next-button:hover {
    transform: scale(1.05);
}

#next-button:active {
    transform: scale(0.95);
}

#prev-button:hover {
    transform: scale(1.05);
}

#prev-button:active {
    transform: scale(0.95);
}