.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    top: 1.5%;
    left: 2%;
    width: 1100px;
    height: 850px;
}

.modal.active {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
}

.modal-content-two {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: 1px solid #888;
    width: 1100px;
    height: 850px;
    top: 1.5%;
    left: 2%;
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.modal.active .modal-content-two {
    transform: translateY(0);
}

.menu-button:hover .icon {
    transform: rotate(45deg) scale(1.2);
}

.icon {
    font-size: 50px;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.menu-button:hover .icon {
    transform: rotate(45deg);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
}

.header p {
    margin-top: 10px;
}

.header img {
    width: 7%;
}


.cell {
    border-radius: 10px;
    height: 85%;
    flex: 1;
    padding: 1%;
    border: 1px solid #ccc;
    text-align: center;
    width: 90%;
}

.table {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-spacing: 0 10px;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}

.row {
    text-align: center;
    display: flex;
    height: 100%;
}

#hr1 {
    text-align: center;
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
}
#hr2 {
    text-align: center;
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
}
#hr3 {
    text-align: center;
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
}
#hr4 {
    text-align: center;
    width: 100%;
    border: none;
    height: 1px;
    background-color: white;
}
