<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" type="image/png"
          href="https://icons-for-free.com/iconfiles/png/512/dota2+game+inkcontober+juggernaut+mask+icon-1320183879752698440.png"
          sizes="64x64"/>
    <style>

    </style>
</head>
<body>
<div class="password-reset-form">
    <h2>Change password</h2>
    <form id="password-form" >
        <input type="password" id="password" name="password" placeholder="New password" required>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password"
               required>
        <input type="hidden" id="email" name="email" th:attr="value=${email}">
        <div id="error-message" style="color: red;"></div>
        <button type="button" id="change-password-btn">Change password</button>
    </form>
    <form id="resetForm" method="post" action="/" class="btn btn-primary-login" >
        <button type="submit" id="login">Login</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/gh/Weendy009/Dota-Base/src/main/resources/static/reset-password.js"></script>
</body>
</html>
